@keyframes bars {
    0% {
        background-color: rebeccapurple;
    }

    25% {
        background-color: green;
    }

    50% {
        transform: scaleY(3);
    }

    75% {
        background-color: hotpink;
    }

    100% {
        transform: scaleY(1);
        background-color: royalblue;
    }
}


@keyframes spinner1 {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 1;

    }

    100% {
        transform: scale(0);
    }
}

@keyframes spinner2 {
    0% {
        background-color: white;
    }

    50% {
        background-color: #555;
    }

    100% {
        background-color: #000;
    }
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bouncing {
    0% {
        border-bottom-right-radius: 20%;
    }

    25% {
        transform: translateY(20px) rotate(15eg);
    }

    50% {
        border-bottom-right-radius: 100%;
        transform: translateY(30px) rotate(50deg);
    }

    75% {
        transform: translateY(20px) rotate(85deg);
    }

    100% {

        border-bottom-right-radius: 20%;
        transform: translateY(0) rotate(130deg);
    }
}

@keyframes shadow {
    50% {
        transform: scaleX(1.5);
    }
}

@keyframes fading-sqares {
    0% {
        transform: rotate(360deg) scale(1);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: rotate(0) scale(0);
    }
}

@keyframes pacman-up {
    0% {
        transform: rotate(0deg);

    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);

    }
}

@keyframes pacman-down {
    0% {
        transform: rotate(0deg);

    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);

    }
}

@keyframes slide {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(-200px);
    }
}

@keyframes copo-planea {
    0% {}

    20% {}

    40% {}

    60% {}

    80% {}

    100% {}
}

@keyframes copocae {
    0% {
        top: -20%
    }

    100% {
        top: 100%
    }
}

@keyframes copomueve {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(80px);

    }

    100% {
        transform: translateX(0px);

    }

}


@keyframes small-circles-color {
    0% {
        transform: scale(0.1) translateY(-550px) rotate(-360deg);
        border-radius: 0;
        width: 200px;
        height: 50px;
        background-color: #ff2c48;
        z-index: 10001;

    }

    10% {
        background-color: #000;
        transform: scale(0.1) rotate(0) translateY(0px);
        z-index: 10001;
        border-radius: 50%;
    }

    20% {
        background-color: #e0434b;
        z-index: 9999;
    }

    30% {
        background-color: #ff00f2;
    }

    40% {
        background-color: #1fd437;
    }

    50% {
        background-color: rgb(255, 230, 0);
    }

    60% {
        background-color: #e61f7c;
    }

    70% {
        background-color: #f06414;
    }

    80% {
        background-color: #6fdd8b;
    }

    90% {
        background-color: #69195c;
    }
    100% {
        border-radius: 50%;        
        transform: scale(7) rotate(0) translate(0);

    }
}