$item1: flex-end;
$item1b: center;
$item2: flex-start;
$item2b: $item1;
$item3: $item2;
$item3b: $item1b;
$item4: $item2;
$item4b: $item1;
$item5: $item1b;
$item5b: $item2;
$item6: $item1;
$item6b: $item2;
$item7: $item1;
$item7b: $item1b;
$item8: $item1;
$item8b: $item1;

